---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="home-intro">
    <div class="row">
      <div class="column">
        <img src="{{ site.baseurl + '/image_assets/cupcake_intro_vertical_image.png'}}" alt="HomeVerticalImage">
      </div>
      <div class="column">
        <div class="text-area">
          <i>
            Sigue disfrutando de lo delicioso y dulce de un postre, 
            completamente libre de lácteos, hechos con fruta y harinas de; 
            almendra, arroz, avena, y con endulzantes de bajo índice glicémico.
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
